.title {
  font-family: system-ui;
  font-size: 45px;
  margin-top: auto;
}


.register-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
  max-width: 30%;
  min-width: 350px;
  border: 2px solid #2e2e2e;
}

.input-container {
  align-self: center;
  display: flex;
  flex-direction: column;
}