.page-title{
    font-family: system-ui;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 70px;
}


.page-subtitle{
    font-family: system-ui;
    font-weight: 300;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 70px;
}

